{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  
    <link rel="stylesheet" href="{% static 'footer.css' %}" >
    <link rel="stylesheet" href="{% static 'leaflet.css' %}" >
    <link rel="stylesheet" href="{% static 'plugins/L.Control.Pan.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/L.Control.Zoomslider.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/L.Control.MousePosition.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/L.Control.Sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/Leaflet.PolylineMeasure.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/easy-button.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/mycss.css' %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="{% static 'front.css' %}">
	
    
    

    <script src="{% static 'leaflet-src.js' %}" ></script>
    <!-- <script src="src/jquery-3.2.0.min.js"></script> -->
    <script src="{% static 'plugins/L.Control.Pan.js' %}" ></script>
    <script src="{% static 'plugins/L.Control.Zoomslider.js' %}" ></script>
    <script src="{% static 'plugins/L.Control.MousePosition.js' %}"></script>
    <script src="{% static 'plugins/L.Control.Sidebar.js' %}"></script>
    <script src="{% static 'plugins/Leaflet.PolylineMeasure.js' %}"></script>
    <script src="{% static 'plugins/easy-button.js' %}"></script>
    <script src="{% static 'plugins/leaflet-providers.js' %}"></script>
    <script src="{% static 'plugins/leaflet-opencage/src/js/L.Control.OpenCageSearch.js' %}"></script>
    <!-- <script src="{% static 'app.js' %}"></script> -->
    <!-- <link rel="stylesheet" type="leaflet.wms.js" href="{% static 'css/component.css' %}"  /> -->
    <link rel="stylesheet" href="{% static 'mystyle.css' %}">
    <link rel= 'stylesheet' href="{% static 'css/component.css' %}">
    <script src="{% static 'plugins/leaflet.ajax.min.js' %}" ></script>
    <script src="{% static 'js/modernizr-custom.js' %}" ></script>
    <script src="{% static 'leaflet.wms.js' %}" ></script>

    <script src="{% static 'js/classie.js' %}"></script>
    <!-- <script src="js/dummydata.js"></script> -->
    <!-- <script src="src/js/main.js"></script> -->
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'myscript.js' %}"></script>

   
  </head>

  <body>
  


   
    {% block content%}
    {% endblock %}
   

  </body>
</html>